<form method="post">
    <input type="text" name="s_name" value="" />
    <input type="number" name="s_phone" value="" />
    <input type="number" name="s_age" value="" />
    <input type="submit"  value="Add" />
</form>